<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OutdoorKings</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Backslash-RpJol.otf</string>
		<string>ChickenPie-8MevB.ttf</string>
		<string>MomcakeBold-WyonA.otf</string>
		<string>MomcakeThin-9Y6aZ.otf</string>
		<string>Northead-0WgdX.ttf</string>
		<string>PlayfairDisplayBlack-RpvVA.ttf</string>
		<string>PlayfairDisplayBlackItalic-K7d4y.ttf</string>
		<string>PlayfairDisplayBold-nRv8g.ttf</string>
		<string>PlayfairDisplayBoldItalic-rgx7y.ttf</string>
		<string>PlayfairDisplayExtrabold-1GDw2.ttf</string>
		<string>PlayfairDisplayExtraboldItalic-MVZaJ.ttf</string>
		<string>PlayfairDisplayItalic-BW0Rd.ttf</string>
		<string>PlayfairDisplayMedium-9YKZK.ttf</string>
		<string>PlayfairDisplayMediumItalic-8MaEg.ttf</string>
		<string>PlayfairDisplayRegular-ywLOY.ttf</string>
		<string>PlayfairDisplaySemibold-lg9nd.ttf</string>
		<string>PlayfairDisplaySemiboldItalic-YzEYO.ttf</string>
		<string>ROMANUS .otf</string>
		<string>Russeldexter.otf</string>
		<string>TheBambankScript .otf</string>
		<string>Vanberg.ttf</string>
		<string>YourDream-51lzv.otf</string>
		<string>YourDream-z80eL.ttf</string>
		<string>YourDreamDoodles-6YnG1.otf</string>
		<string>YourDreamDoodles-yw0xV.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
